:root {
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --paragraph-color: #757575;
  --primary-white-color: #ffffff;
}

body {
  font-family: "Roboto";
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1172px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid transparent;
}

/*шапка*/

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:first-child {
  margin-left: 93px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var (var(--title-text-color))
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item {
  margin-left: 321px;
}

.contact-nav .item + .item {
  margin-left: 50px;
}


.links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.links:hover {
  color: var(--acent-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--paragraph-color);
  font-style: normal;
}

.contact:hover {
  color: var(--acent-color);
}

.web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}

/*head name*/

.head {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  background: #2f303a;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.attention {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.attention-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--paragraph-color);
}

.pictures-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  font-size: 16px;
  line-height: 1.19;
}

/*footer*/

footer {
  background: #2f303a;
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
}

.tel-email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

/*portfolio*/

.portfolio-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  background: #f5f4fa;
  text-align: center;
  border: #ffffff;
}

.portfolio-buttons:hover {
  background-color: var(--acent-color);
  color: var(--primary-white-color);
}

.projects-names {
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.types-work {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}